<app-header></app-header>

<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"> <img class="img-fluid" src="../../assets/Image/furniture.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Our team</h2>
                <p style="font-size: 15px;">Our team of experienced interior aficionados is dedicated to assisting you in crafting spaces that resonate with your individuality. We believe that every room has a story to tell, and our furniture serves as the protagonists that bring those stories to life. From the initial spark of inspiration to the final placement, we are here to guide you through the journey of turning your house into a harmonious haven.</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-6">
                <div class="service-block-inner">
                    <h3>Quality Craftsmanship</h3>
                    <p>We understand that furniture is an investment, which is why we prioritize quality craftsmanship. Our furniture is crafted with precision and care, using the finest materials to guarantee longevity and durability.</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="service-block-inner">
                    <h3>Diverse Styles</h3>
                    <p>Whether you lean towards classic elegance, modern minimalism, or anything in between, our diverse range of furniture styles ensures that you'll find something that resonates with your taste and fits seamlessly into your space.</p>
               </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container jumbotron" style="margin-top: 30px; background-color: white;">
                <h1>Furniture shop</h1>
                <p>Welcome to our store, where your dream spaces come to life! We are delighted to present a curated world of exquisite furniture and decor that transforms houses into homes. With a passion for design and an unwavering commitment to quality, we invite you to explore a diverse collection that captures a spectrum of styles – from timeless classics to contemporary marvels.</p>

                <p>At our store, we understand that furniture isn't just about function; it's an expression of your personality and a reflection of your unique taste. Our showroom is a haven for those who appreciate the finer details, where each piece is carefully selected to provide both aesthetics and utility. Whether you're seeking a statement sofa, an elegant dining ensemble, or versatile storage solutions, our range encompasses an array of choices to fulfill your desires.</p>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>