<app-header></app-header>
<!-- 
<h3 class="text-center">Change Password</h3> -->

<!-- <div style="margin-top: 3%;" class=" container jumbotron  w-50">
    <h3 class="text-center">Change Password</h3>
    <div>
        <form [formGroup]="setpassword" (ngSubmit)="changePassword()">
            <table class="table table-bordered bg-light  ">
                <tr>
                    <td>
                        <div>
                            <label><b> Enter Phone No </b></label>
                            <input class="form-control " type="text" placeholder="Enter Your Phone No "
                                formControlName="phoneNumber" required>
                        </div>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                        <div>
                            <label><b> Enter Email </b></label>
                            <input class="form-control " type="email" placeholder="Enter Your Email "
                                formControlName="emailId" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label> <b>Enter New Password : </b></label>
                            <input class="form-control " type="text" placeholder="Enter new Password"
                                formControlName="password" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label> <b>Confirm Password : </b></label>
                            <input class="form-control " type="text" placeholder="Reenter Password"
                                formControlName="confirmpassword" required>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> <button type="submit " class="btn btn-primary btn-lg btn-block ">Change Password</button>
                        <button type="submit " [routerLink]="[ '/login'] "
                            class="btn btn-danger btn-lg btn-block ">Cancel </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div> -->


<div class="contact-box-main">
    <div class="container" style="margin-left:280px;">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2 style="margin-left:220px;color:yellowgreen">Change Password</h2>
                    <form [formGroup]="setpassword" (ngSubmit)="changePassword()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b> Enter Phone No </b></label>
                                    <input type="text" class="form-control"  formControlName="phoneNumber"  placeholder="Enter Your phone Name" required data-error="Please enter phone number">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b> Email Id : </b></label>
                                    <input type="text" placeholder="Your Email" formControlName="emailId"  class="form-control" required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b> Password </b></label>
                                    <input type="text" class="form-control" formControlName="password"  placeholder="enter password" required data-error="Please enter your Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b>Confirm Password</b></label>
                                    <input type="text" class="form-control" formControlName="confirmpassword"   placeholder="Confirm password" required data-error="Please enter your Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <td> <button style="border-radius: 50px;margin-left:200px" type="submit " class="btn btn-dark btn-lg btn-block ">Change Password</button>
                                <button style="border-radius: 50px;margin-left:200px" type="submit " [routerLink]="[ '/login'] "
                                    class="btn btn-danger btn-lg btn-block ">Cancel </button>
                            </td>
                            
                       
                        </div>
                    </form>
                </div>
            </div>  
</div>
</div>

<app-footer></app-footer>