                    
.wp-block {
    margin: 0 0 15px 0;
    padding:15px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    cursor: default;
    border-radius: 2px;
  }
  
  .wp-block.product {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e0eded;
  }
  
  .wp-block:before, .wp-block:after {
    display: table;
    content: "";
  }
  
  .wp-block.product figure {
    padding-bottom: 15px;
    border-bottom: 1px solid #e0eded;
  }
  
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .wp-block.product .product-title {
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: 0;
  }
  
  h2 {
    font-size: 25px;
  }
  
  .wp-block.product .product-title a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .wp-block.product p {
    color: #616161;
  }
  
  .wp-block.product .wp-block-footer {
    border-top: 1px solid #e0eded;
    padding-top: 15px;
    padding-bottom:25px;
  }
  
  .wp-block.product .price {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
  }
  
  .btn-base {
    color: #fff !important;
    background-color: #3498db;
    border: 1px solid;
    border-color: #258cd1;
  }
  
  .btn-icon {
    position: relative;
  }
  
  .btn-icon.btn-sm span, .btn-icon.btn-sm input {
    padding-left: 35px;
  }
  
  .btn {
      border-radius: 0;
      border: 0;
      border-bottom: 4px solid #CCCCCC;
      margin:0;
      -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
         -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
              box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
  }
  
  .btn-info {
      background-color: #39b3d7;
      border-color: #348fd2;
      text-shadow: 1px 1px 0 #238ed5;
  }    
  
  div{

    font-size:14px;

}