<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h2>E-Kisan</h2>
        <ul>
            <li><a href="adminportal"><i class="fas fa-home"></i>&nbsp;Home</a></li>
            <li><a href="adminprofile"><i class="fas fa-user"></i>&nbsp;Profile</a></li>
            <li><a href="saveProductDetails"><i class="fas fa-cubes"></i>&nbsp;Add Products</a></li>
            <li><a href="productdashboard"><i class="fas fa-cubes"></i>&nbsp;Product Dashboard</a></li>
            <li><a href="userdashboard"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;User Dashboard</a></li>
            <li><a href="orderdashboard"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Order Dashboard</a>
            </li>
            <!-- <li><a href="contact"><i class="fas fa-address-book"></i>&nbsp;Contact</a></li> -->
            <!-- <li><a href="logout"><i class="fas fa-address-book"></i>&nbsp;Logout</a></li> -->
            <!-- <li><a routerLink="/logout"><span class="fas fa-address-book"></span> LogOut</a></li> -->
            <li><a class="nav-link" routerLink="/logout"><span class="glyphicon glyphicon-user"></span> LogOut</a></li>
            <!-- <li><a href="#"><i class="fas fa-map-pin"></i>&nbsp;Map</a></li> -->
        </ul>

    </div>
    <div class="main_content">
        <div class="header h3">Welcome..!!<h4>{{user.name}}</h4> Have a nice day.</div>
        <!-- <div><pre></pre> </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8">

                    <img src="../../assets/Image/furniture1.jpg" class="table-img img-thumbnail">
                </div>
                <div class="col-sm-4">
                    <p class="para">
                        <i class="fa fa-quote-left" aria-hidden="true"></i><i> &nbsp;Warmth and sophistication intertwine in our meticulously crafted wood furniture collection. From rich textures to timeless designs, each piece exudes natural beauty and invites comfort into your space.
                        </i><i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>

                </div>

            </div>

            <div class="row">
                <div class="col">
                    <p class="para1">
                        Embrace urban elegance with our sleek metal furniture selection. Clean lines and modern aesthetics blend seamlessly, bringing a contemporary edge to your decor while ensuring lasting durability.
                    </p>
                </div>
                <div class="col">
                    <img src="../../assets/Image/furniture3.jpg" class="table-img1 img-thumbnail">
                </div>
            </div>


            <div class="row para2">
                <p class="font-weight-bold" style="color: crimson; text-align: center;padding-left: 40px;">
                    Discover a harmonious blend of wood and metal, where timeless elegance meets modern flair, creating furniture that transforms your space with both natural warmth and contemporary allure.</p>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>