<div style="height: 50px; color:white; font-size: 15px; padding: 10px; width: 100%; background-color: black;"
    class="top">
    <span>Call Us On: 123456789  </span>
    <h1 style="color:white;text-align: center;margin-top:-20px">Furniture Shop</h1>
  
</div>

<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a  href="#" class="navbar-brand"><img src="../../assets/Image/ecommerce.png" class="logo" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
                    <li><a class="nav-link" routerLink="/news">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="aboutus">About Us</a></li>
                    <li><a *ngIf="!loginservice.isUserLogin()" class="nav-link" routerLink="/login"><span
                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a *ngIf="!loginservice.isUserLogin()" class="nav-link" routerLink="/register"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a *ngIf="loginservice.isUserLogin()" routerLink="/userprofile"><span
                                class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
                        <li class="side-menu">
                            <a *ngIf="loginservice.isUserLogin()" href="/myCart">
                                <span class="fa fa-shopping-bag"></span>
                                My Cart </a>
                        </li>
                   
                    <li><a *ngIf="loginservice.isUserLogin()" class="nav-link" routerLink="/logout"><span
                                class="glyphicon glyphicon-user"></span> LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
